@media (max-width: 1588px) {
    .button {
        display: block;
        background-color: #555555;
        color: #FFFFFF;
        width: 100px;
        height: 89px;
        border: none;
        text-decoration: none;
    }
    
    .button:hover {
        display: block;
        background-color: #ffbd39;
        color: #151515;
        width: 100px;
        height: 89px;
        border: none;
        text-decoration: none;
        cursor: pointer;
    }

    .whatsapp_button {
        display: none;
    }
}

@media (max-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 160vh;
    }
}

@media (min-width:50px) and (max-width: 750px) { 
    main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        height: 240vh;
        margin-bottom: 50px;
    }
}