@media screen and (max-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 160vh;
    }
}

@media screen and (max-width: 750px) { 
    main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        height: 240vh;
        margin-bottom: 50px;
    }
}